<mat-card [ngClass]="{ 'text-center' : !fullWidthMode }">
  <div [ngClass]="{ flex : fullWidthMode }">
    <img class="mb-1 mx-auto h-[200px]"
      [ngClass]="{ 'h-200px': !fullWidthMode, 'h-[360px]': fullWidthMode }"
      src="https://via.placeholder.com/150"
    >
    <div class="w-full" [ngClass]="{ 'px-8 flex flex-col justify-around' : fullWidthMode }">
      <div>
        <h5>Shoes</h5>
        <p class="truncate hover:white-space-normal">Snickers</p>
        <p *ngIf="fullWidthMode">Description</p>
      </div>
      <div class="flex justify-between mx-5 mb-1">
        <span class="text-red-400">{{ '150' | currency:'S/.' }}</span>
        <button>
          <mat-icon class="text-gray-500">add_shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>